Repository HackU-Kosen-SNCT/webapp: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, eslint --fix

.lintstagedrc.yml:

'*.{js,jsx,ts,tsx}': eslint
'*.{json,yml,yaml,toml}': eslint --fix

switch from pnpm to yarn
  .eslintignore
  pnpm-lock.yaml
  yarn.lock
Due: eslint --fix

change the project name
  index.html
Due: none

remove commitlint
  .commitlintrc.yml
  .husky/commit-msg
  package.json
Due: eslint --fix

remove unnecessery files
  LICENSE
  README.md
  renovate.json
Due: eslint --fix

set up configurations files
  .eslintrc.yml
  .husky/pre-commit
  babel-plugins-macros.config.js
  package.json
  tsconfig.json
  vite.config.ts
  yarn.lock
Due: eslint, eslint --fix

add type definition files
  src/@types/pwa-register.d.ts
  src/@types/twin.d.ts
Due: eslint

add the minimum required source code
  src/components/app.tsx
  src/index.tsx
  src/routes/home.tsx
  src/routes/index.ts
Due: eslint

add robots.txt
  public/robots.txt
Due: none

remove unnessesary dependency
  package.json
  yarn.lock
Due: eslint --fix

update dependencies
  package.json
  yarn.lock
Due: eslint --fix

switch from @reach/router to wouter
  package.json
  src/components/app.tsx
  src/routes/home.tsx
  yarn.lock
Due: eslint, eslint --fix

complete home page and route all pages
  .eslintrc.yml
  package.json
  postcss.config.js
  src/@types/image.d.ts
  src/@types/pwa-register.d.ts
  src/assets/undraw_camera_re_cnp4.svg
  src/assets/undraw_collecting.svg
  src/assets/undraw_deliveries_-131-a.svg
  src/assets/undraw_empty_re_opql.svg
  src/assets/undraw_i_can_fly_-7-egl.svg
  src/assets/undraw_logistics_x-4-dc.svg
  src/assets/undraw_order_delivered_re_v4ab.svg
  src/assets/undraw_super_thank_you_re_f8bo.svg
  src/components/app.tsx
  src/components/button.tsx
  src/components/index.ts
  src/components/input.tsx
  src/components/progress.tsx
  src/components/typography.tsx
  src/index.tsx
  src/layouts/centering.tsx
  src/layouts/common.ts
  src/layouts/fixed.tsx
  src/layouts/index.ts
  src/routes/home.tsx
  src/routes/index.ts
  src/routes/lafs.tsx
  src/routes/receive/complete.tsx
  src/routes/receive/confirm.tsx
  src/routes/receive/select-laf.tsx
  src/routes/receive/send-letter.tsx
  src/routes/register/complete.tsx
  src/routes/register/confirm.tsx
  src/routes/register/overview.tsx
  src/routes/register/photograph.tsx
  src/routes/register/select-category.tsx
  tailwind.config.js
  tsconfig.json
  vite.config.ts
  yarn.lock
Due: eslint, eslint --fix

create most of the necessary components and complete the basic layout of all pages
  package.json
  pnpm-lock.yaml
  src/components/app.tsx
  src/components/button.tsx
  src/components/index.ts
  src/components/input.tsx
  src/components/progress.tsx
  src/components/typography.tsx
  src/layouts/centering.tsx
  src/layouts/common.ts
  src/layouts/fixed.tsx
  src/routes/404.tsx
  src/routes/home.tsx
  src/routes/index.ts
  src/routes/lafs.tsx
  src/routes/receive/complete.tsx
  src/routes/receive/confirm.tsx
  src/routes/receive/select-laf.tsx
  src/routes/receive/send-letter.tsx
  src/routes/register/confirm.tsx
  src/routes/register/overview.tsx
  src/routes/register/photograph.tsx
  src/routes/register/select-category.tsx
  tailwind.config.js
Due: eslint, eslint --fix

upgrade dependencies
  package.json
  pnpm-lock.yaml
Due: eslint --fix

upgrade dependencies
  pnpm-lock.yaml
Due: eslint --fix

remove yarn.lock
  yarn.lock
Due: none

create a registration completion page
  package.json
  pnpm-lock.yaml
  src/components/typography.tsx
  src/routes/register/complete.tsx
Due: eslint, eslint --fix

add a todo to registration completion page
  src/routes/register/complete.tsx
Due: eslint

switch from pnpm to yarn
  pnpm-lock.yaml
  yarn.lock
Due: eslint --fix

change asset paths from relative to absolute to ensure correct rendering
  vite.config.ts
Due: eslint

add todos to some pages
  src/routes/register/overview.tsx
  src/routes/register/photograph.tsx
Due: eslint

finish most of the category selection page
  src/components/button.tsx
  src/components/index.ts
  src/components/shelf.tsx
  src/layouts/centering.tsx
  src/layouts/fixed.tsx
  src/routes/home.tsx
  src/routes/register/confirm.tsx
  src/routes/register/select-category.tsx
  tailwind.config.js
Due: eslint

complete the lost and found photography page
  src/@types/twin.d.ts
  src/layouts/centering.tsx
  src/routes/register/photograph.tsx
Due: eslint

change the title of of receiving confirmation page
  src/routes/receive/confirm.tsx
Due: eslint

rename from routes to pages
  src/components/app.tsx
  src/pages/404.tsx
  src/pages/home.tsx
  src/pages/index.ts
  src/pages/lafs.tsx
  src/pages/receive/complete.tsx
  src/pages/receive/confirm.tsx
  src/pages/receive/select-laf.tsx
  src/pages/receive/send-letter.tsx
  src/pages/register/complete.tsx
  src/pages/register/confirm.tsx
  src/pages/register/overview.tsx
  src/pages/register/photograph.tsx
  src/pages/register/select-category.tsx
Due: eslint

remove unnecessary question
  src/pages/receive/confirm.tsx
Due: eslint

create most of the pages
  src/components/app.tsx
  src/components/button.tsx
  src/components/index.ts
  src/components/input.tsx
  src/components/modal.tsx
  src/components/overview.tsx
  src/layouts/centering.tsx
  src/layouts/common.ts
  src/layouts/fixed.tsx
  src/pages/index.ts
  src/pages/lafs.tsx
  src/pages/receive/confirm.tsx
  src/pages/receive/select-laf.tsx
  src/pages/receive/send-letter.tsx
  src/pages/register/confirm.tsx
  src/pages/register/details.tsx
Due: eslint

add page transitions and comments for clarity
  .eslintrc.yml
  src/components/button.tsx
  src/components/input.tsx
  src/components/modal.tsx
  src/components/overview.tsx
  src/components/shelf.tsx
  src/index.tsx
  src/pages/home.tsx
  src/pages/lafs.tsx
  src/pages/receive/confirm.tsx
  src/pages/receive/select-laf.tsx
  src/pages/receive/send-letter.tsx
  src/pages/register/complete.tsx
  src/pages/register/confirm.tsx
  src/pages/register/details.tsx
  src/pages/register/photograph.tsx
  src/pages/register/select-category.tsx
Due: eslint, eslint --fix

add readme.md
  README.md
Due: none

➕ Add axios
  package.json
  yarn.lock
Due: eslint --fix

Add: firebase project
  src/firebase.ts
Due: eslint

firebase seting
  src/firebase.ts
Due: eslint

Lafshelfを作った
  .editorconfig
  src/components/shelf.tsx
Due: eslint

update: api test
  src/pages/register/confirm.tsx
Due: eslint

chore: install axios, recoil
  package.json
  yarn.lock
Due: eslint --fix

✨ Fetch in useEffect
  src/pages/receive/select-laf.tsx
Due: eslint

LafshelfのCSSの仮完成
  src/components/shelf.tsx
  src/pages/lafs.tsx
Due: eslint

LafshelfにonClickを導入
  .eslintignore
  src/components/shelf.tsx
  src/pages/lafs.tsx
Due: eslint

update: use recoil
  src/@types/category.d.ts
  src/@types/color.d.ts
  src/components/app.tsx
  src/pages/register/select-category.tsx
  src/store/index.ts
Due: eslint

LafshelfのCSSの修正
  src/components/shelf.tsx
  src/pages/lafs.tsx
Due: eslint
